<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eduYouke| 后台管理</title>
    {include file="../public/header" /}
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {include file="../public/nav" /}
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        {include file="../public/leftMenu" /}
        <!-- Content Wrapper. Contains page content -->
        {__CONTENT__}
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- {include file="../public/rightMenu" /} -->
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
    </div>
    {include file="../public/script" /}
</body>

</html>